# CCS 构建输出
/Debug/
/Release/

# 编译和链接产物
*.o
*.obj
*.out
*.elf
*.bin
*.hex
*.map
*.d
*.d_raw
*.dep
*_linkInfo.xml

# IDE 本机设置
/.settings/
/settings/

# 临时和备份文件
*.bak
*.~*
Thumbs.db
/Backup*/

# IAR 用户设置
**/settings/*.crun
**/settings/*.dbgdt
**/settings/*.cspy
**/settings/*.cspy.*
**/settings/*.xcl
**/settings/*.dni
**/settings/*.wsdt
**/settings/*.wspos
**/Exe/*.sim
**/Obj/*.pbd
**/Obj/*.pbd.*
**/Obj/*.pbi
**/Obj/*.pbi.*
